includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/

    # Level 9 is the highest level
    level: 5

    ignoreErrors:
        - '#Parameter .* of class .* constructor expects .*#'
        - '#array_values is already a list#'
        - '#Class .* not found#'
        - '#Called .env. outside of the config directory#'
        
    excludePaths:
        - ./*/*/FileToBeExcluded.php
        - tests/

